header {
    background-color: rgb(60, 60, 148);

}
h2 {
  
background-color: blueviolet;
color:black ;
text-align: center;
Gap: 10px;    

}

h3{

background-color: blueviolet;
text-align: center;
color: black;
Gap: 10px;    

}

.img-{


}